body{
    background-image:  url(/drumkit/artist.jpg ) ; height: 100vh; width: 100%;
    display: flex;
    align-items: center;
   
    justify-content: space-evenly;
}
button{
    height: 60px;
    width: 60px;
    border: 2px solid rgb(0, 0, 0);
    z-index: 1;
    margin-right: 60px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}            
button:hover{
    background: rgb(76, 115, 232);
}

.keys{
    display: flex;
}