#generate{
    height: 20px;
    /* width: 30px; */
    border: none;
    border-radius: 20px;
    background: rgb(60, 49, 49);
    color: aliceblue;
}

body{
    background: grey;
}

#box1{
    padding: 20px;
    /* border: 2px solid brown; */
    height: fit-content;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 1px 8px 51px 15px rgb(124, 86, 90); 
}
p{
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-size: larger;
}