body{
    background: rgb(111, 98, 225);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: cursive;
    margin-top: -100px;
    margin-bottom:100px ;
    font-size: 40px;
}
.center{
    background: rgb(31, 130, 216);
    display: flex;
    border-radius: 25px;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    
}

#banner{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#banner2{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#first,#second{
    margin: 20px;
    background: rgb(0, 136, 248);
    border: 2px solid blue;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
}
#date{
    
    border-radius: 20px;
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: rgba(252, 252, 0, 0.979);
    height: 40px;
    width: 120px;
    font-family: cursive;
    
}

#clock{
    border-radius: 20px;
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: rgba(252, 252, 0, 0.979);
    height: 40px;
    width: 120px;
    font-family: cursive;
}