*{
    background: black;
    color: white;
}

h1,h3{
    width: fit-content;
    height: fit-content;
}


#Val{
    background: rgb(90, 90, 150);
    height: 20px;
    border-radius: 20px;
    border: 2px solid white;
}
button{
    background: rgb(104, 14, 62);
    border-radius: 10px;
    border: 2px solid white;
}
#ComVal{
    background: rgb(18, 108, 78);
    border-radius: 10px;
    border: 2px solid white;
     height: 20px;
}
div{
    background: rgb(80, 235, 49);
    padding: 6px;
    border-radius: 10px;
    border: 2pxsolid white;
}